.body {
    margin-top: 5rem;
 }

.form-group, h3 {
   width: 69%;
   margin: 0 auto;
}

.col-md-2 {
    display: inline-block;
}



.input-group {
    padding: 2px;

}

.titlehead {
    padding-top:10px;
}

.wrap {
    display: inline-block;
}

.container-search {
    text-align: center;
}

label {
    font-size: 0.8rem;
    justify-content: left;
}


.row, ul, li {
    text-align: center;
    list-style: none;
    justify-content: center;
    margin: 10px auto;
}

.hr-list {
    width: 70%;
    display: block;
    margin: 0 auto;
}

